<div class="card">

<h2>Nuevo Mensaje</h2>

<form action="/guardar_mensaje" method="POST" enctype="multipart/form-data">

<label>Mensaje</label>
<textarea name="texto" rows="5"></textarea>

<label>Plataforma</label>

<input type="checkbox" name="plataforma" value="whatsapp"> WhatsApp
<input type="checkbox" name="plataforma" value="facebook"> Facebook

<br><br>

<label>Imagen o Video</label>
<input type="file" name="archivo">

<p>

<b>Límites permitidos</b><br>

Imagen WhatsApp: 5MB<br>
Imagen Facebook: 8MB<br>
Video WhatsApp: 12MB<br>
Video Facebook: 50MB

</p>

<label>Grupos de WhatsApp</label>
<input type="text" name="grupos">

<label>Fecha</label>
<input type="date" name="fecha">

<label>Hora</label>
<input type="time" name="hora">

<br><br>

<button>Guardar mensaje</button>

</form>

</div>
